channels==4.0.0
channels-redis==4.0.0
cmake==3.26.0
cryptography==39.0.2
csp==0.1a10
Django==4.1.7
django-cors-headers==3.14.0
django-csp==3.7
djangorestframework==3.14.0
djangorestframework-camel-case==1.4.2
djangorestframework-simplejwt==5.2.2
dnspython==2.3.0
fastapi==0.95.0
fastjsonschema==2.16.2
ffmpeg==1.4
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
keras==2.11.0
keras-facenet==0.3.2
keras-nightly==2.13.0.dev2023032907
Keras-Preprocessing==1.1.2
librosa==0.9.2
mtcnn==0.1.1
numba==0.56.4
numpy==1.23.1
oauthlib==3.2.2
opencv-python==4.7.0.68
pandas==1.4.4
pandocfilters==1.5.0
pickle-mixin==1.0.2
pickleshare==0.7.5
Pillow==9.4.0
protobuf==4.22.1
PyJWT==2.6.0
pyOpenSSL==23.0.0
python-dotenv==1.0.0
pywin32==305
pywinpty==2.0.10
pyzmq==25.0.0
redis==4.5.3
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
resampy==0.4.2
rest-framework-simplejwt==0.0.2
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
semver==2.13.0
Send2Trash==1.8.0
service-identity==21.1.0
six==1.15.0
smmap==5.0.0
tb-nightly==2.13.0a20230329
tensorboard==2.11.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.0
tensorflow-addons==0.14.0
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==1.1.0
terminado==0.17.1
tf-estimator-nightly==2.13.0.dev2023032908
tf-slim==1.1.0
tf_nightly_intel==2.13.0.dev20230327
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==1.2.3
toolz==0.12.0
torch==1.8.1+cu111 -f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.8.1 -f https://download.pytorch.org/whl/torch_stable.html
tornado==6.2
tqdm==4.64.1
typing==3.7.4.3
typing_extensions==4.5.0
urllib3==1.26.14
uvicorn==0.21.1
validators==0.20.0
watchdog==3.0.0
watchfiles==0.18.1
webauthn==1.2.1
webrtcvad==2.0.10
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.0.2
zipp==3.13.0